# Created by .ignore support plugin (hsz.mobi)

.idea/typescript-compiler.xml
app.rar
app/model/db.module.js
app/model/db.service.js
app/model/user.model.js
app/pages/registro/inicio-registro/inicio-registro.component.js.BACKUP.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.BASE.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.LOCAL.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.REMOTE.11944.js
app/shared/config.js.BACKUP.9360.js
app/shared/config.js.BASE.9360.js
app/shared/config.js.LOCAL.9360.js
app/shared/config.js.REMOTE.9360.js
node_modules/nativescript-sqlite/
node_modules/nativescript-telerik-ui/
platforms/android/.gradle/
platforms/android/.nsprepareinfo
platforms/android/build-tools/
platforms/android/build.gradle
platforms/android/build/
platforms/android/configurations/
platforms/android/gradle.properties
platforms/android/gradle/
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/libs/
platforms/android/metadata/
platforms/android/settings.gradle
platforms/android/src/F0/
platforms/android/src/F1/
platforms/android/src/debug/
platforms/android/src/main/assets/
platforms/android/src/main/java/
platforms/android/src/main/res/
app/**/*.js
app/**/*.js.map
hooks/
lib/
node_modules/
platforms/
.idea/
app/app.component.js
app/app.module.js
app/app.routing.js
app/main.js
app/pages/login/modal/modal-view.js
calzzapatotns.rar
calzzapatotns2.rar
app/pages/login/login.component.js
app/pages/login/login.module.js
app/pages/login/login.service.js
app/pages/login/user.class.js
app/pages/inicio/inicio.component.js
app/pages/home/home.component.js
app/pages/micuenta/micuenta.component.js
app/pages/modals/mapa/mapa.component.js
app/pages/cliente/cliente.class.js
app/pages/cliente/cliente.module.js
app/pages/cliente/cliente.service.js
app/pages/cliente/detalle/cliente-detalle.component.js
app/pages/cliente/formulario/formulario.cliente.component.js
app/pages/cliente/listado/listado.cliente.component.js
app/pages/corte/corte.component.js
app/pages/corte/corte.module.js
app/pages/inicio/inicio.service.js
app/pages/micuenta/micuenta.module.js
app/pages/modals/datepicker/date-picker.js
app/pages/modals/modal.module.js
app/pages/modals/recuperar/recuperar.js
app/pages/vales/listado/listado.vale.component.js
app/pages/vales/vale.module.js
app/pages/vales/vale.service.js
app/shared/error-feedback/error-feedback.component.js
app/shared/validators/CustomValidators.js
app/shared/validators/equal-validator.directive.js
app/app.routing.ts.orig

*.js
