# Created by .ignore support plugin (hsz.mobi)

.idea/typescript-compiler.xml
app.rar
app/model/db.module.js
app/model/db.service.js
app/model/user.model.js
app/pages/registro/inicio-registro/inicio-registro.component.js.BACKUP.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.BASE.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.LOCAL.11944.js
app/pages/registro/inicio-registro/inicio-registro.component.js.REMOTE.11944.js
app/shared/config.js.BACKUP.9360.js
app/shared/config.js.BASE.9360.js
app/shared/config.js.LOCAL.9360.js
app/shared/config.js.REMOTE.9360.js
node_modules/nativescript-sqlite/
node_modules/nativescript-telerik-ui/
platforms/android/.gradle/
platforms/android/.nsprepareinfo
platforms/android/build-tools/
platforms/android/build.gradle
platforms/android/build/
platforms/android/configurations/
platforms/android/gradle.properties
platforms/android/gradle/
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/libs/
platforms/android/metadata/
platforms/android/settings.gradle
platforms/android/src/F0/
platforms/android/src/F1/
platforms/android/src/debug/
platforms/android/src/main/assets/
platforms/android/src/main/java/
platforms/android/src/main/res/
app/**/*.js
app/**/*.js.map
hooks/
lib/
node_modules/
platforms/
.idea/