.circulo{
    background-color: #223D98;
    font-size: 15;
    font-weight:bold;
    text-align: center;
    border-radius: 40;
    color: #fff;
}
.nombre{
    color: #000;
    font-size: 20;
    
}
.titulo{
    color: #5D5D5D;
    font-size: 15;
    font-weight:400;
}
.contenido{
    color: #000;
    font-size: 17;
    font-weight: bold;
    text-align: right;
    padding-right: 10;
}