grid-layout {
    margin-top: 15px;
    margin-left: 15px;
}
grid-layout StackLayout{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

grid-layout StackLayout Image{
    width: 50px;
}
grid-layout StackLayout Label {
    font-size: 20px;
    margin: 0px 0px 0px 15px;
}
Button {

    color:#00aafc;
    margin-top: 30;
    background-color: transparent;
}

ScrollView {
    height: 100%;
}
TextField{
    color:black;
    border-bottom-width: 1;
    border-bottom-color: #2b2b2b;
    margin-top: 10;
    margin-left:15;
    margin-right:15;
}

.ultimo{
    margin-bottom: 30;
}