GridLayout {
    margin-top: 15px;
    margin-left: 15px;
}
GridLayout StackLayout{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

GridLayout StackLayout Image{
    width: 50px;
}
GridLayout StackLayout Label {
    font-size: 20px;
    margin: 0px 0px 0px 15px;

}
Button {
    background-color: #223D98;
    color:white;
}

ScrollView {
    height: 100%;
}
TextField {
    margin-top: 15px;
.fab-button {
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
    background-color: #EE2933;
}.medios-header Label{
    font-weight: bold;
}