<GridLayout rows="*" height="100%" width="100%">
    <TabView #element [(ngModel)]="selectedIndex">
        <GridLayout width="100%" height="100%" *tabItem="{title: 'FÍSICOS'}">
            <StackLayout height="100%" row="0">
                <Label class="dashboard" text="Última actualización:" style="font-weight: bold;text-align: right"></Label>
                <ListView height="100%" [items]='vales' style="background-color: #EAEAEA;">
                    <template let-item='item'>
                   <GridLayout style="background-color: #EAEAEA">
                       <GridLayout *ngIf="item.status == 'N'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio_credivale}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1"></Label>
                           <Label class="cobrado-label" text="N/A" row="1" col="2" style="font-weight: bold;text-align: right;"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.fecha_asignada | date: 'dd MMM yyyy'}}" row="2" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Persona Autorizada" row="3" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.persona_autorizada}}" row="3" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Fecha de Compra" row="4" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.fecha | date: 'dd MMM yyyy'}}" row="4" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Lugar de Compra" row="5" col="1"></Label>
                           <Label class="cobrado-label" text="N/A" row="5" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Pago Quincenal" row="6" col="1"></Label>
                           <Label class="cobrado-label" text="N/A" row="6" col="2" style="font-weight: bold;text-align: right"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #223D98;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="No Disponible" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center"></Label>
                                   <Label class="cobrado-label" text="1 de 8" row="0" col="1" horizontalAlignment="right" verticalAlignment="center"></Label>
                                   <Label class="cobrado-label"  text="30 Oct 2016" row="0" col="2" horizontalAlignment="right" verticalAlignment="center"></Label>
                                   <GridLayout row="0" col="3" style="width: 100%">
                                       <Image src="~/assets/misVales_r.png" stretch="none" horizontalAlignment="right" verticalAlignment="center"></Image>
                                   </GridLayout>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                       <GridLayout *ngIf="item.status == 'D'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio_credivale}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="NA" row="1" col="2" style="font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="NA" row="2" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #757575;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;" textWrap="true">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="DISPONIBLE" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center"></Label>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                       <GridLayout *ngIf="item.status == 'U'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio_credivale}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true" ></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="N/A" row="1" col="2" style="font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{item.fecha | date: 'dd MMM yyyy'}}" row="2" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #EE2933;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="USADO" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                   </GridLayout>
               </template>
           </ListView>
       </StackLayout>

    </GridLayout>
    <GridLayout *tabItem="{title: 'ELECTRÓNICOS'}" style="background-color: #EAEAEA" rows="auto,*"  columns="*,*" height="100%" width="100%">

        <Label col="0" row="0" text="Ultima Actualización"  ></Label>
        <Label col="1" row="0" text="01/20/2017"  style="text-align: right;padding-right: 10;"></Label>

        <ListView row="1" col="0" colSpan="2"  height="100%" [items]='valesElec' style="background-color: #EAEAEA;">
            <template let-item='item'>
                <GridLayout height="100%" width="100%" style="background-color: #EAEAEA;">
                    <GridLayout columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado" >
                        <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                        <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                            <Label class="label-suc" text="{{item.folio.substring(0,2)}}" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                        </GridView>
                        <Label class="cobrado-label" text="{{item.folio}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true"></Label>
                        <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;" textWrap="true"></Label>
                        <Label class="cobrado-label" text="Cliente" row="1" col="1" textWrap="true"></Label>
                        <Label class="cobrado-label" text="{{item.subcliente}}" row="1" col="2" style="font-weight: bold;text-align: right;" textWrap="true"></Label>
                        <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1" textWrap="true"></Label>
                        <Label class="cobrado-label" text="{{item.fecha_asignada}}" row="2" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                        <Label class="cobrado-label" text="Persona Autorizada" row="3" col="1" textWrap="true"></Label>
                        <Label class="cobrado-label" text="{{item.persona_autorizada}}" row="3" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                        <GridLayout row="7" col="0" colSpan="3" style="background-color: #EE2933;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white; border-radius: 5;" textWrap="true">
                            <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                <Label class="cobrado-label" text="ASIGNADO" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center"></Label>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </template>
        </ListView>
        <FAB row="1" col="1" (tap)="nuevo()" icon="~/assets/ic_add_white.png" rippleColor="#f1f1f1" backColor="#EE2933" class="fab-button" style="width: 60; height: 60;margin:15;" horizontalAlignment="right" verticalAlignment="bottom"></FAB>
    </GridLayout>
</TabView>