StackLayout {
  height: 340;
}
Image {
  width: 90%;
  margin-top: 15%;

}
Button {
  background-color: #223D98;
}
TextField{
    color:black;
}

Label {
  color:#EE2933;
}
.modal-view-style{
  background-color: white;
  width: 100%;
}
.title{
  color:#EE2933;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5%;
}